*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
.header{
	background-color: #fcdb00;
}
.container{
	width:100%;
	max-width:930px;
	margin: 0 auto;
	padding:60px 0;
}
.nav{
	margin-bottom: 215px;
}
.nav__title,.nav__menu{
	display: inline-block;
}
.nav__social{
	display: inline-block;

}
.link__social{
	display: inline-block;
}

.nav__menu{
	padding-right: 360px;
}
.nav__title{
	padding-right: 200px;
}
.title__main{
	padding-left: 10px;
	float: right;
	font-size: 30px;
	color: #010101;
    font-family: "PT Sans";
    font-weight: 700;

}

.link__social{
	padding-right:10px;
	font-size: 0;
}
.link__social:last-child{
	padding-right:0;
}
.text{
	text-align: center;
	margin: 0 auto;
	margin-bottom: 150px;
}
.text__title{
	text-align: center;
	font-size: 48px;
	color: #010101;
	font-family: "PT Sans";
	font-weight: 700;
	margin-bottom: 25px;
}
.text__paragpraph{
	display: inline-block;
	width: 100%;
	width: 761px;
	height: 190px;
	font-size: 20px;
	line-height: 24px;
	color: #313841;
	font-family: "PT Sans";
	font-weight: 400;
	text-align: center;
}
.text__link{
	border: 1px solid black;
	border-radius: 50%;
	padding: 10px 15px;
	display: inline-block;
}
.text__item{
	display: inline-block;
	padding-right: 20px;
}

.header__switch{
	width: 100%;
	text-align: center;

}
.switch{
	display: inline-block;
}
.switch:hover{
	opacity: .5;
}

/*header end*/


.main{
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding:100px 0;

}
.main__text{
	margin-bottom: 65px;
}
.main__title{
	font-size: 32px;
	color: #010101;
	font-family: "PT Sans";
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
}
.main__paragraph{
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	font-size: 20px;
	color: #313841;
	font-family: "PT Sans";
	font-weight: 400;
	text-align: center;
}

.phone{
	display:inline-block;
	width: 315px;
	height: 470px;
	border-top: 50px solid black;
	border-right: 10px solid black;
	border-bottom: 50px solid black;
	border-left: 10px solid black;
	border-radius: 20px;
	padding: 175px 70px;
	margin: 0 auto;
	position: relative;
}
.phone:before{
	content: '';
	position: absolute;
	border: 2px solid;
	height: 27px;
	right: -12px;
	top:25px;

}.phone:after{
	content: '';
	position: absolute;
	border: 2px solid;
	height: 27px;
	right: -12px;
	top:65px;
}
.phone__title{
	display: inline-block;
	width: 150px;
}

.left__text, .right__text{
	display: inline-block;
	width: 100%;
	max-width: 221px;
	font-size: 16px;
	color: #898989;
	font-family: "PT Sans";
	font-weight: 400;

}
.left__text:not(:last-child), .right__text{
	margin-bottom:20px;
}
.left__title, .right__title{
	font-size: 22px;
	color: #010101;
	font-family: "PT Sans";
	font-weight: 400;
	margin-bottom: 10px; 
}
.left{
	float: left;
	padding-top: 60px;
	padding-right: 100px;

}
.right{
	float: right;
	padding-left: 0px;
	padding-top: 60px;
}

/*main end*/

.footer{
	background-color: #010101;
}
.footer__content{
	width: 100%;
	max-width: 860px;
	margin:0 auto;
	padding: 95px 0 200px 0; 
}
.footer__text{
	margin-bottom: 40px;
}
.footer__title{
	font-size: 32px;
	color: #fcdb00;
	font-family: "PT Sans";
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.footer__paragraph{
	width: 100%;
	max-width: 760px;
	font-size: 20px;
	color: #898989;
	font-family: "PT Sans";
	font-weight: 400;
	text-align: center;
	margin: 0 auto;
}
.subscribe{
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 115px; 
}
.footer__input{
	width:100%;
	max-width:580px;
	border: 2px solid #010101; 
	border-radius: 5px;
	padding: 14px 20px;
}

.btn{
	width:100%;
	max-width:130px;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	border: 1px solid #fcdb00;
	background-color: #fcdb00;
	font-family: "PT Sans";
	font-weight: 700;
	text-transform: uppercase;
}

.columns{
	display: block;
	list-style: none;
	float: left;
	overflow: hidden;
}
.columns:not(:last-child){
	margin-right:100px;
}
.columns__link{
	width: 100%;
	max-width:200px;
	font-size: 16px;
	color: #ffffff;
	font-family: "PT Sans";
	font-weight: 400;
	text-decoration: none;
}
